@import 'variables';

body, html {
    font-family: $font-family-sans-serif !important;
    font-size: 15px !important;
}

.tox-tinymce {
    font-family: $font-family-sans-serif !important;
}


.card .card-header {
    min-height: 65px;
}

sup {
    color: red;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
}

body, html {
    font-family: $font-family-sans-serif !important;
    font-size: 14px !important;
}

.apexcharts-text tspan {
    font-family: $font-family-sans-serif !important;
}

input.disabled {
    pointer-events: none;
    color: #AAA;
    background: #F5F5F5;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    box-shadow: none !important
}

html[data-bs-theme="light"] {
    body {
        background-color: #f5f8fa !important;
    }

    [data-kt-app-layout=light-sidebar][data-kt-app-header-fixed=true] .app-sidebar .app-sidebar-logo,
    [data-kt-app-layout=light-sidebar][data-kt-app-header-fixed=true] .app-header {
        border-bottom: 1px dashed var(--bs-app-sidebar-light-separator-color);
        background-color: #fff;
    }

    .btn.btn-primary {
        background-color: #02B0F1;
    }
}

html[data-bs-theme="dark"] {
    [data-kt-app-layout=light-sidebar][data-kt-app-header-fixed=true] .app-sidebar .app-sidebar-logo,
    [data-kt-app-layout=light-sidebar][data-kt-app-header-fixed=true] .app-header {
        border-bottom: 1px dashed var(--bs-app-sidebar-light-separator-color);
    }
}

@media (min-width: 992px) {
    .app-sidebar-logo {
        height: calc(var(--bs-app-header-height));
    }
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
}

html[lang="ar"] {
    .select2-container--bootstrap5 .select2-selection__clear {
        left: 3rem !important;
        right: auto;
    }

    .select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--selected:after {
        left: 1.25rem !important;
        right: auto;
    }

    .select2-container--bootstrap5 .select2-selection--multiple .select2-selection__rendered
    .select2-selection__choice .select2-selection__choice__remove {
        left: 8px !important;
        right: auto;
    }
}

.menu-item .menu-link {
    padding: 0.50rem 0.3rem;
}
