@import 'pagesetup';
@import 'config';
@import 'general';

@import 'pages/homepage';
@import 'pages/contact';
@import 'pages/about';
@import 'pages/projects';
@import 'pages/chooser';
@import 'pages/service';
@import 'pages/services';
@import 'pages/maincat';