.mainservicespage{
    .header{
        min-height: 450px;
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.07));
            *{color: #fff;}
        }
    }
    .talky{
        background-color: $mainColor !important;
        *{color: #fff;}
        border-radius: 33px;
        background-repeat: no-repeat;
        background-position: -56%;
        position: relative;
    }
}