.projectspage{
    .header{
        .lead{
            color: #F61D2B;
        }
        h1,.small{
            width: 45%;
            margin: auto;
            @media(max-width:620px){
                width: 95%;
            }
        }
        .small{
            font-size: 17px;
        }
    }

    .featured{
        .category{
            display: inline-block !important;
            background: #3C67FF;
            color: #FFF;
            padding: 18px;
            border-radius: 55px;
        }
        h2{
            font-size: 55px;
            @media(max-width:620px){
                font-size: 42px;
            }
        }
    }

    a{
        transition: 0.3s;
        &:hover{
            opacity: 0.9;
        }
    }

    .attract-subscribe{
        background: #001943;
        color: #FFF;
        .sub-holder{
            background: #FFF;
            padding: 9px;
            border-radius: 55px;
            input{
                border: none !important;
            }
        }
    }

    .portfolio-categories-slider{
        .padder{
            padding: 18px 0;
        }
        .port-cat-slider{
            background: transparent;
            border: 1px solid #e1e5fb;
            color: #000;
            padding: 18px 36px;
            border-radius: 55px;
            &:hover{
                background: #e1e5fb;
                color: #000;
            }
            &.active{
                background: $mainColor;
                border-color: transparent;
                color: #fff;
            }
        }
    }
    
}

.service-template-card{
    transition: 0.4s ease-in-out;
    *{
        transition: 0.4s ease-in-out;
    }
    .imger{
        width: 100%;
        height: 300px;
        border-radius: 18px;
        overflow: hidden;
        img{
            transition: 0.5s;
        }
        .category{
            position: absolute;
            left: 12px;
            top: 12px;
            padding: 11px 16px;
            border-radius: 55px;
            background-color: #000;
            color: #fff;
            font-size: 15px;
        }
    }
    .small{
        color: #34394B;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.006px
    }
    &:hover{
        .black{
            color: $mainColor;
        }
        transform: scale(0.98);
        img{
            transform: scale(1.05);
        }
    }
}