.projectspage{
    .category-slider{
        .img{
            height: 380px;
            border-radius: 14px;
            overflow: hidden;
            img{
                border-radius: 14px;
                transition: 0.4s ease-in-out;
            }
        }
        &:hover{
            img{
                transform: scale(1.1);
                
            }
        }
    }
}